# Зависимости Node.js
node_modules/

# Файлы с секретами
.env

# Логи
npm-debug.log*
yarn-debug.log*
*.log

# Вывод сборки (если будете собирать фронтенд)
dist/
build/

# Конфиги редакторов и ОС
.vscode/
.DS_Store
Thumbs.db
ehthumbs.db
*.swp

# IDE-файлы (пример для JetBrains)
.idea/

# Любые временные файлы
*.tmp
